:root {
    --aeliapink: #ff9cba;
    /*--aeliapink: #ff9cba;*/
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*height: 100vh;*/
    min-height: 100vh;
    text-align: center;
    background-color: var(--aeliapink);
    background-color: #e891ac;
    background-color: #e4a0b5;
    background-color: #f7b3c8;
    background-image: linear-gradient(to bottom, #f7b3c8, #fdcbd6);
    background-image: linear-gradient(to bottom, #fdcbd6, #f7b3c8);
    color: #ffdcc8;

    color: #8a7162;
    color: #dab39c;
    color: #8e8179;
    color: #867368;
    color: #e3e613;
    color: #13e6a2;
    color: #e6136b;
    color: #a20c4b;
    color: #dc3161;
    color: #ab7484;
    color: #824d5c;
    color: #8e8179;
    color: #867368;
    color: #a5a19e;
    color: #a99f99;
    color: #eadadf;
    color: #b3969f;



    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -1px;
}

.body-wrapper {
    max-width: 960px;
    width: auto;
    margin: 0 auto;
    padding: 60px 0;

    background-color: rgb(230 228 226 / 46%);
    /* background-color: rgb(162 154 146 / 46%); */
    /* background-color: rgb(222 219 216 / 46%); */
rgb(162 154 146 / 46%): ;
    /* background-color: rgb(76 82 88 / 10%); */
    background-color: rgb(230 228 226);
    background-color: rgb(245 240 235);
}

h1 {
    font-size: 92px;
    color: #94780f;
    color: #a56e7f;
    color: #885162;
    color: #883f56;
    line-height: 1;
}
h2 {
    font-size: 46px;
    color: #f1d981;
    color: #ffe276;
    color: #d89aad;
    color: #9a737f;
    color: #b18794;
    font-style: italic;
    margin: 10px 0 20px;
    width: 75%;
    margin: auto;
    text-transform: capitalize;
    font-weight: 600;
}
p {
    font-size: 20px;
    padding-bottom: 8px;
    line-height: 1.25;
    color: #8c7c81;
}
p:last-child { padding-bottom: 0 }
.author {
    font-size: 36px;
    color: #7ca0ce;
    color: #6389ba;
    color: #c798a7;
    color: #b18794;
    color: #9a737f;
    color: #966775;
    margin-bottom: 30px;
    /*color: #eadadf;*/
    /*color: #ffe276;*/
    /*color: #692b3e;*/
    /*font-weight: 600;*/
    /*margin-top: 40px*/
}
.author-img {
    width: 360px;
    display: block;
    margin: auto;
}
.mag-separator { width: 60px; margin: 10px 0 30px; }
.lyrics {
    color: #ce9aaa;
    color: #ffe276;
    color: #98707d;
    color: #5e5171;
    margin-top: 40px;
}

.chanya {
    width: 160px;
    display: block;
    margin: 20px auto 40px;
    /*border: 3px solid #a6b7ca;*/
    /*border-radius: 50%;*/
    border-radius: 16px;
}


@media only screen and (max-width: 600px) {
    .body-wrapper {
        margin: 20px auto;
        padding: 35px 20px;
        width: 90%;
    }
    .section-header {
        margin-bottom: 20px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 22px;
        width: 100%;
    }
    h4 {
        font-size: 19px;
        margin-bottom: 10px;
        color: #b5a8a6;
        color: #85635d;
        text-align: left;
        font-weight: 600;
    }
    .author {
        font-size: 18px;
        margin-bottom: 18px;
        margin-top: 5px;
    }
    .diary-avatar {
        width: 80px;
        margin: 20px 0 10px;
        border-radius: 10px;
        /*border: 2px solid #af9f95;*/
        /*border: 2px solid #c1aa7f;*/
        /*border: 2px solid #cca5ad;*/
    }
    .magnolia-img {
        width: 90%;
        border-left: 25px solid #f9eddf;
        border-right: 25px solid #f9eddf;
        border-left: 24px solid #ece8e3;
        border-right: 24px solid #ece8e3;

        border-left: 24px solid #fff;
        border-right: 24px solid #fff;
        border-left: 24px solid #e0ddd9;
        border-right: 24px solid #e0ddd9;
        border-left: 24px solid #d6d2ce;
        border-right: 24px solid #d6d2ce;
    }
    .img-credit {
        font-size: 16px;
        line-height: 1.1;
        padding-top: 10px;
        color: rgb(140 124 129 / 60%);
        width: 90%;
        text-align: right;
        margin-left: auto;
        margin-right: 5%;
    }
    .section-project {
        margin: 20px 0;
    }
    .project-list {
        text-align: left;
    }
    .project-list li {
        list-style-type: none;
    }
    .project-list li a {
        text-decoration: underline;
        color: #411f7d;
    }
    .project-list li a:hover {
        text-decoration: none;
        color: blue;
    }
}